<div ng-controller="ChatCtrl">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Chat Page</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="/#chat">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <div class="friend-search">
                    <div class="search ">
                        <label>Enter your friend's name, email or nickname</label>
                        <input class="form-control" placeholder="friend@email.com, name, nickname" type="text" ng-model="friendSearchCriteria" required ng-trim="true" />

                        <button class="btn btn-default" ng-click="findFriend(friendSearchCriteria)">Find Friends</button>
                    </div>
                    <div class="results" ng-show="friends.length!=0">
                        <ul>
                            <li ng-repeat="friend in friends">
                                <span class="name">{{friend.name}}</span>
                                <a href="#" class="add-to-friends" ng-show="friend.allowAddFriend" ng-click="addToFriends(friend)">Add to Friends</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        

        <hr>

        <footer>
            <p>&copy; Company 2014</p>
        </footer>
    </div>
    <!-- /container -->
</div>
