
<div class="jumbotron">
    <div class="container">
        <h1>Login Page</h1>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <h2>Sign In With Google</h2>
            
            <div ng-app="directive.googlePlusAuth">
                <google-plus-auth clientid="539619638814-bc68fotft1msfr537c0ckpdsctshn5ls.apps.googleusercontent.com"></google-plus-auth>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div> <!-- /container -->
