.messages .scrollable{
    overflow:scroll;
    overflow-x:initial;
    height:250px;    
}

.video #my-video {
    position: relative;
    width: 125px;
    top: -30px;
    margin-top: -110px;
    left: 180px;
    border: 2px solid white;
}

body #toast-container > .toast-success {
    background-image:none!important;
    padding-left:15px;
}

.messages .pager {
    padding-left: 0;
    margin: 20px 0;
}

.messages .pagination {
    margin: 0px 0;
}

.login-buttons {
    text-align:center;
}